ws-soap/SoapIntegrationService/TestSoapIntegration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TestSoapIntegration" xmlns:tns="http://www.example.org/TestSoapIntegration" elementFormDefault="qualified">

    <complexType name="EmployeeType">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="city" type="string"></element>
    		<element name="id" type="int"></element>
    	</sequence>
    </complexType>

    <element name="EmployeeRequest" type="tns:EmployeeType"></element>

    <element name="EmployeeResponse" type="tns:EmployeeType"></element>
</schema>